body {
background-color: #CCCCCC;
font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#main {
width: 90%;
margin: auto;
padding: 5px;
padding-bottom: 0px;
background-color: #FFFFFF;
border-radius: 10px;
}
#sub {
width: 90%;
margin: auto;
background-color: #DDDDDD;
border-radius: 10px;
}
#subflex {
margin: 20px;
border-radius: 10px;
display: inline-flex;
justify-content: space-around;
flex-wrap: wrap;
}
#subflexitem {
width: 48%;
margin: auto;
margin-bottom: 15px;
padding: 3px;
background-color: #DDDDDD;
border-radius: 10px;
}
#interv {
width: 60%;
margin: auto;
background-color: #BBBBBB;
border-style: dashed;
padding: 8px;
}
.rightimg {
float: right;
display: block;
width: 350px;
}
.leftimg {
float: left;
display: block;
}
.centerimg {
margin: auto;
display: block;
}
.bigbutton {
height: 140px;
width: 180px;
font-size: 40px;
border-radius: 10px;
background-color: #E7E7E7;
border: none;
font-family: "Comic Sans MS", "Comic Sans", cursive;
-moz-transition: background 0.5s;
-webkit-transition: background 0.5s;
transition: background 0.5s;
}
.bigbutton:hover {
background-color: #969696;
border: 1px solid #000;
}
.centertext {
text-align: center;
}
.italic {
font-style: italic;
text-align: center;
}
.bold {
font-weight: bold;
text-align: center;
}
#backshefwerld  {
  display: block;
  color: #FF9999;
}
