body {
background-color: #CCCCCC;
font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#main {
width: 90%;
margin: auto;
padding: 5px;
padding-bottom: 0px;
background-color: #FFFFFF;
border-radius: 5px;
}
#sub {
width: 90%;
margin: auto;
background-color: #DDDDDD;
border-radius: 5px;
}
#subflex {
margin: 20px;
border-radius: 5px;
display: inline-flex;
justify-content: space-around;
flex-wrap: wrap;
}
#subflexitem {
width: 48%;
margin: auto;
margin-bottom: 15px;
padding: 3px;
background-color: #DDDDDD;
border-radius: 5px;
}
#interv {
width: 70%;
margin: auto;
background-color: #F0F0F0;
border: 2px solid #0000CC;
border-radius: 4px;
padding: 8px;
}
.rightimg {
float: right;
display: block;
width: 300px;
}
.leftimg {
float: left;
display: block;
}
.centerimg {
margin: auto;
display: block;
}
.bigbutton {
height: 120px;
width: 130px;
font-size: 26px;
border-radius: 5px;
background-color: #E7E7E7;
border: none;
font-family: "Comic Sans MS", "Comic Sans", cursive;
-moz-transition: background 0.25s;
-webkit-transition: background 0.25s;
transition: background 0.25s;
}
.bigbutton:hover {
background-color: #969696;
border: 1px solid #000;
}
.centertext {
text-align: center;
}
.italic {
font-style: italic;
text-align: center;
}
.bold {
font-weight: bold;
text-align: center;
}
#backshefwerld  {
  display: block;
  color: #FF9999;
}
#gototop  {
  position: fixed;
  bottom: 1%;
  right: 2.5%;
  width: 100px;
  height: 50px;
  background-color: #0000CC;
  border-radius: 10%;
}
a  {
  color: #0000CC;
  cursor: pointer;
  font-weight: 700;
  transition: color 0.25s;
}
a:hover  {
  color: #9900CC;
}

#footerflex li {
  flex-direction: column;
  text-decoration: none;
  list-style: none;
  /* background-color: #FF0000; */ /* testing */
  margin: 0 25px 5px 25px;
}
#footerflex {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
}
.footer {
  width: 100%;
  margin: auto;
}
#shefwerldtext  {
  color: #FF9999; 
  text-decoration: none;
  transition: color 0.25s;
}
#shefwerldtext:hover  {
  color: #770000;
}
#newsarticle_title  {
  font-weight: bold; font-size: 20px;
}
#newsarticle_author {
  font-style: italic; color: #999;
}
#newsarticle_fineprint {
  font-style: italic; color: #BBB; font-size: 12px;
}
#list_items {
  width: 60%;
  background-color: #F0F0F0;
  border: 2px solid #00CC00;
  border-radius: 4px;
  margin: auto;
  padding: 8px;
}